<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PDD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PDD</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem-vindo ao PDD(Painel do desenvolvedor ou painel do dev se preferir), onde você podera acessar os links das paginas
     diretamente, além da biblioteca de icones do ionic!</strong>
    <p>Biblioteca de icones: <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    <ion-button expand="full" routerLink="/home" >Página Inicial ou Home</ion-button>
    <ion-button expand="full" routerLink="/etapa1" >etapa1</ion-button>
    <ion-button expand="full" routerLink="/etapa2" >etapa2</ion-button>
    <ion-button expand="full" routerLink="/etapa3" >etapa3</ion-button>
    <ion-button expand="full" routerLink="/apresentacao" >apresentação das etapas</ion-button>
  </div>
</ion-content>
